body {
    padding-top: 40px;
    background-color: #e6e6e6;
}

.sticky-offset {
    top: 55px;
}

#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    min-height: calc(100vh - 40px);
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 20px;
}

.block {
    display: inline-block;
    vertical-align: middle;
}

.profile-pic {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    /*border-radius: 20px 10px 5px 0;*/
}

.profile-pic:hover .edit {
    display: block;
}

.edit {
    padding-top: 7px;
    padding-right: 14px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.navbar {
    background-color: #333;
    /*width:730px !important;*/
    /*height: 40px;*/
}

.navBarSearchForm {
    width: 730px !important;
}

/* autocomplete*/

.ui-autocomplete {
    position: fixed !important;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.ui-autocomplete .ui-state-active {
    background: #e8e2ff !important;
}

/* autocomplete*/

.messages {
    height: calc(100vh - 250px);
    max-height: calc(100vh - 250px);
    overflow: auto !important;
}